.title{
    text-align: center;
    font-size: 45px;
    padding : 8px;
}

.recipe{
    padding: 10px;
    border: 1px solid black;
    margin: 8px;
    text-align: left;
    display: inline-block;
}

img{
    display: block;
    margin:0 auto;
    height: 200px;
    width: auto;
}

div{
    text-align: center;
}

a{
    font-size: 25px;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
}